html,
body {
  padding: 0;
  margin: 0;
  /* background-color: #1a202c !important; */
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.image > img {
  width: 100%;
  border-radius: 10px;
}

.text {
  text-align: justify;
}
